[submodule "external/nmslib"]
	path = external/nmslib
	url = https://github.com/jvkersch/nmslib
[submodule "external/parasail"]
	path = external/parasail
	url = https://github.com/jvkersch/parasail
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "external/cereal"]
	path = external/cereal
	url = https://github.com/USCiLab/cereal
